body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-sherif;
}

header{
  width: 100%;
}

.nav-links{
  color: #404040;
}

.google{
  text-align: center;
}

.form{
  text-align: center;
}

#form-search{
  width: 420px;
  line-height: 32px;
  padding: 20px 10px;
}

.form #form-search{
  padding: 0 8px;
}

.buttons{
  text-align: center;
  padding-top: 30px;
  margin-bottom: 300px;
}
